[
  {
    "fileName": "{{prefix}}/tiff/{{width}}x{{height}}_2500K.tiff",
    "isPrimary": true,
    "altitude": 0,
    "azimuth": 115
  },
  {
    "fileName": "{{prefix}}/tiff/{{width}}x{{height}}_4500K.tiff",
    "altitude": 20,
    "azimuth": 145
  },
  {
    "fileName": "{{prefix}}/tiff/{{width}}x{{height}}_5500K.tiff",
    "altitude": 31,
    "azimuth": 180
  },
  {
    "fileName": "{{prefix}}/tiff/{{width}}x{{height}}_4500K.tiff",
    "altitude": 20,
    "azimuth": 215
  },
  {
    "fileName": "{{prefix}}/tiff/{{width}}x{{height}}_3000K.tiff",
    "altitude": 0,
    "azimuth": 245
  },
  {
    "fileName": "{{prefix}}/tiff/{{width}}x{{height}}_8000K.tiff",
    "altitude": -6,
    "azimuth": 255
  },
  {
    "fileName": "{{prefix}}/tiff/{{width}}x{{height}}_1500K.tiff",
    "altitude": -70,
    "azimuth": 0
  }
]
